<% content_for :css do %>
    <%= stylesheet_link_tag 'static_pages/home' %>
<% end %>

<% provide(:title) %>
<% if logged_in? %>
  <%= render 'users/user_details' %>
<% else %>
	<div class="home-container">
		<div class="home-text-container">
			<h1>Welcome to the Gamers Place App</h1>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
	</div>
<% end %>

<% if @favorite_list.present? %>
  <% @favorite_list.each do |game| %>
    <%= game.title %>
    <%= game.content %>
  <% end %>
<% end %>
