<% content_for :css do %>
    <%= stylesheet_link_tag 'sessions/new' %>
<% end %>

<div class="login_global_container">
	<% provide(:title, "Log in") %>
	<h1 class="login_title">Log in</h1>

	<div class="login_container">
		<div class="login_form_container">
			<%= form_for(:session, url: login_path) do |f| %>

				<div class="form_common_wrapper">
					<%= f.label :email, class: "label_common" %>
					<%= f.email_field :email, class: "input_common", placeholder: "XXXX@exmaple.com" %>
				</div>

				<div class="form_common_wrapper">
					<%= f.label :password, class: "label_common" %>
					<%= f.password_field :password, class: "input_common", placeholder: "password" %>
				</div>

				<%= f.label :remember_me, class: "checkbox inline" do %>
					<%= f.check_box :remember_me, class: "checkbox_input" %>
					<span class="checkbox_input__text">Remember me on this computer</span>
				<% end %>

				<%= f.submit "Log in", class: "btn filled" %>
			<% end %>

			<p class="signup_link_text"><%= link_to "新規登録はこちら", signup_path, class: "signup_link" %></p>
		</div>
	</div>
</div>

