<% content_for :css do %>
    <%= stylesheet_link_tag 'favoritegames/favoritegame' %>
<% end %>

<div id="favoritegame_<%= @game.id %>">
  <% if !Favoritegame.exists?(user: current_user, game_id: @game.id) %>
		<a href="<%= game_favoritegames_path (@game)%>">
		<strong>
			<%= @game.favoritegames.length  %>
		</strong>
		お気に入り
		</a>
    <%= link_to game_favoritegames_path(@game), method: :post, remote: true, class: "favorite-btn favorite-game" do %>
      <div class="i far fa-thumbs-up">
        <span>いいね！</span>
        <%= @game.favoritegames.length  %>
      </div>
    <% end %>
  <% else %>
    <%= link_to game_favoritegames_path(@game), method: :delete, remote: true, class: "favorite-btn favorite-delete" do %>
      <div class="i far fa-thumbs-up">
        <span>いいね！</span>
        <%= @game.favoritegames.length %>
      </div>
    <% end %>
  <% end %>
</div>
