<% content_for :css do %>
    <%= stylesheet_link_tag 'users/new' %>
<% end %>

<% provide(:title, 'Sign up') %>
<h1 class="signup_title">Sign up</h1>

<div class="signup_container">
  <div class="signup_form_container">
    <%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<div class="form_common_wrapper">
				<%= f.label :name, class: "label_common" %>
				<%= f.text_field :name, class: "input_common" %>
			</div>

			<div class="form_common_wrapper">
				<%= f.label :email, class: "label_common" %>
				<%= f.email_field :email, class: "input_common" %>
			</div>

			<div class="form_common_wrapper">
				<%= f.label :password, class: "label_common" %>
				<%= f.password_field :password, class: "input_common" %>
			</div>

			<div class="form_common_wrapper">
				<%= f.label :password_confirmation, class: "label_common" %>
				<%= f.password_field :password_confirmation, class: "input_common" %>
			</div>

      <%= f.submit "Create my account", class: "btn filled" %>
    <% end %>
  </div>
</div>
