<div class="post_form_container">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="post_content_field">
      <%= f.text_area :content, placeholder: "new post!!" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :game_id, :value => @game.id %>
    </div>
    <div class="post_btn_wrapper">
      <%= f.submit "Post", class: "post_btn" %>
    </div>
  <% end %>
</div>
