<% content_for :css do %>
    <%= stylesheet_link_tag 'games/index' %>
<% end %>

<% provide(:title, 'All Games') %>
<h1 class="games_index_title">GAMES</h1>

<% if current_user.admin? %>
	<div class="new_game_wrapper">
		<%= link_to "New Game Board!", new_game_path %>
	</div>
<% end %>

<div class="search_field">
	<p class="search_title">検索：</p>
	<%= form_tag(games_path, :method => 'get') do %>
		<%= text_field_tag :search, "",  {class: "search_field_type"}%>
		<%= submit_tag 'Search', :name => nil, class: "search_field_btn" %>
	<% end %>
</div>

<div class="games_container">
	<% @games.each do |game| %>
		<%= link_to(game_path(game.id),data: {"turbolinks" => false} , class: 'game_content') do %>
			<div class="item_wrapper">
				<div class="card">
					<div class="card__header">
						<h3 class="card__title">
							<%= game.title %>
						</h3>
						<div class="card__thumbnail">
							<img class="card__img" src="<%= "#{game.game_image}" %>">
						</div>
					</div>
					<div class="card__body">
						<p class="card__text">
							<%= game.description %>
						</p>
					</div>
					<div class="card__footer">
						<% if current_user.already_favorited?(game)%>
							<%= link_to game_favoritegames_path(game), method: :delete do %>
								<i class= "fas fa-heart"></i>
							<% end %>
						<% else %>
							<%= link_to game_favoritegames_path(game), method: :post do %>
								<i class="far fa-heart"></i>
							<% end %>
						<% end %>
						<%= game.favoritegames.count %>
						<%= link_to game_reviews_path(game), class: "button btn-review" do %>
							レビューを見る
						<% end %>
						<%= link_to game_path(game), class: "button btn-review" do %>
							レビューを書く
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
