<% content_for :css do %>
    <%= stylesheet_link_tag 'games/index' %>
<% end %>

<% provide(:title, 'All Games') %>
<h1 class="games_index_title">GAMES</h1>

<% if current_user.admin? %>
	<div class="new_game_wrapper">
		<%= link_to "New Game Board", new_game_path, class: "button btn-new-game"%>
	</div>
<% end %>

<div class="search_field">
	<p class="search_title">検索：</p>
	<%= form_tag(games_path, :method => 'get') do %>
		<%= text_field_tag :search, "",  {class: "search_field_type"}%>
		<%= submit_tag 'Search', :name => nil, class: "search_field_btn" %>
	<% end %>
</div>

<div class="games_container">
	<% @games.each do |game| %>
		<%= render 'shared/game_card', game: game %>
	<% end %>
</div>
