<% content_for :css do %>
    <%= stylesheet_link_tag 'games/show' %>
<% end %>

<% provide(:title, 'Game Show') %>

<div class="game_show_container">
	<div class="game_show_content_wrapper">
		<div class="game_image_wrapper">
			<img class="game_show_img" src="<%= "#{@game.game_image}" %>">
		</div>
		<div class="game_text_wrapper">
			<%= @game.title %>
			<% if current_user.already_favorited?(@game)%>
				<%= link_to game_favoritegames_path(@game), method: :delete do %>
					<i class= "fas fa-heart fav-icon"></i>
				<% end %>
			<% else %>
				<%= link_to game_favoritegames_path(@game), method: :post do %>
					<i class="fav far fa-heart fav-icon"></i>
				<% end %>
			<% end %>
		</div>
		<div>
			<% if current_user.admin? %>
				<%= link_to "edit", edit_game_path(@game)%> |
				<%= link_to "delete", @game, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
			<%= render 'reviews/form', review: @review, game: @game %>
		</div>
	</div>
	<div class="game_post_global_container">
		<%= render 'shared/post_form' %>
		<div class="post_container">
			<% if @game.posts.count == 0 %>
				<h3>現在の投稿は0件です</h3>
			<% else %>
				<ol class="posts_list">
					<%= render @posts %>
				</ol>
			<% end %>
		</div>
	</div>
</div>


