<% content_for :css do %>
    <%= stylesheet_link_tag 'games/show' %>
<% end %>

<% provide(:title, 'Game Show') %>
<h1 class="game_title">Game Show</h1>

<%= render 'favoritegames/favoritegame' %>

<div class="game_show_container">
	<div class="game_show_content_wrapper">
		<div class="game_show_text">
			<%= @game.title %>
		</div>
		<div class="game_image_wrapper">
			<img class="game_show_img" src="<%= "#{@game.game_image}" %>">
		</div>
		<div class="game_edit_container">
			<% if current_user.admin? %>
				<%= link_to "edit", edit_game_path(@game)%> |
				<%= link_to "delete", @game, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
		</div>
	</div>
	<%= render 'shared/post_form' %>
	<div class="post_container">
		<% if @game.posts.any? %>
      <h3>Posts (<%= @game.posts.count %>)</h3>
      <ol class="posts_list">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
</div>


