<li class="post_list_content">
  <div class="post_user_wrapper">
    <%= link_to(user_path(post.user), class: 'post_user_content') do %>
      <%= gravatar_for(post.user, size: 50) %>
      <%= post.user.name %>
    <% end %>
  </div>
  <div class="post_content_wrapper">
    <%= post.content %>
  </div>
  <div class="post_timestamp_wrapper">
    <%= time_ago_in_words(post.created_at) %> ago
  </div>
  <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete, id: "delete_button", data: { confirm: "You sure?" } %>
  <% end %>
</li>
