<% content_for :css do %>
    <%= stylesheet_link_tag 'reviews/form' %>
<% end %>

<div class="review_container">
	<div class="reveiw_container">
		<%# <p class="reveiw_title">レビューを書く</p> %>
		<%= form_with model: review, url: game_reviews_path(game), local: true do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="main-rating">
				<div class="ratings">
					<span class="fa fa-star-o" id="star"></span>
					<span class="fa fa-star-o" id="star"></span>
					<span class="fa fa-star-o" id="star"></span>
					<span class="fa fa-star-o" id="star"></span>
					<span class="fa fa-star-o" id="star"></span>
				</div>
				<div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
			</div>
			<%= f.hidden_field :game_id, value: game.id %>
			<%= f.hidden_field :score, id: "rating-value" %>
			<%= f.text_area :content, class: "review_textarea", placeholder: "レビューを書く"  %>
			<%= f.submit "保存", class: "btn filled btn-save-review" %>
			<%= link_to "全てのレビュー", game_reviews_path(game), class: "btn filled btn-all-review" %>
		<% end %>
	</div>
</div>

<%= javascript_include_tag "reviews.js" %>
