<% content_for :css do %>
    <%= stylesheet_link_tag 'reviews/index' %>
<% end %>

<section class="section">
  <div class="reviews_container">
    <div>
			<div class="reviews_card">
				<div class="reviews_card_header">
					<div class="card__header">
						<div class="game_title_wrapper">
							<%= @game.title %>
						</div>
						<div class="reviews_card_content">
							<div class="content average-score">
								<div class="star-rating">
									<div class="star-rating-front" style="width: <%= @game.review_score_percentage %>%">★★★★★</div>
									<div class="star-rating-back">★★★★★</div>
								</div>
								<div class="average-score-display">
									<%= @game.avg_score %>点（<%= @game.reviews.count %>件のレビュー）
								</div>
							</div>
						</div>
						<div class="card__thumbnail">
							<img class="card__img" src="<%= "#{@game.game_image}" %>">
						</div>
					</div>
				</div>
			</div>
			<div class="review_btn_wrapper">
				<%= link_to game_path(@game), class: "btn filled review_btn" do %>
					レビューを書く
				<% end %>
			</div>
			<% if @game.reviews.count == 0 %>
				<%# レビューされていない場合の表示 %>
				<div class="not_reviewed_contents_wrapper">
					この掲示板にはまだレビューはありません。
				</div>
			<% else %>
				<%# レビューされている時の表示 %>
				<% @reviews.each do |review| %>
					<div class="review_contents_wrapper">
						<div class="review_contents">
							<div class="reviews_user_info">
								<div class="reviews_user_img">
									<%= gravatar_for(review.user, size: 30) %>
								</div>
								<div class="reviews_user_text">
									<%= review.user.name %>
								</div>
								<div class="reviews_create_time_text">
									<%= review.created_at.to_s(:datetime_jp) %>
								</div>
							</div>
							<div class="reviews_score_text">
								<div class="star-rating">
									<div class="star-rating-front" style="width: <%= review.user_review_score_percentage %>%">★★★★★</div>
									<div class="star-rating-back">★★★★★</div>
								</div>
							</div>
							<div class="reviews_content_text">
								<%= simple_format(review.content) %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
    </div>
  </div>
</section>
