<header>
	<div class="header-container">
		<div class="text-title">
			<%= link_to "Gamers Place", root_path, id: "logo" %>
		</div>
		<nav>
			<ul class="navbar-right parent-nav">
				<li class="nav-text"><%= link_to "Home", root_path %></li>
				<li class="nav-text"><%= link_to "Help", help_path %></li>
				<% if logged_in? %>
					<li class="nav-text"><%= link_to "Users", users_path %></li>
					<li class="nav-text"><%= link_to "Profile", current_user %></li>
					<li class="nav-text"><%= link_to "Settings", edit_user_path(current_user) %></li>
					<li class="nav-text"><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-text"><%= link_to "Log in", login_path %></li>
        <% end %>
			</ul>
		</nav>
	</div>
</header>
